@model IEnumerable<PizzeriaWebSite.Models.User_Center>
@{
    ViewBag.Title = "ChefsIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "ChefToCenters")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Center.CenterAddress)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Center.CenterAddress)
            </td>
        </tr>
    }

</table>

