@model IEnumerable<PizzeriaWebSite.Models.Product_Ingredients>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient.IngredientDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient.IngredientDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Prod_Ing_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Prod_Ing_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Prod_Ing_ID })
        </td>
    </tr>
}

</table>
