@model IEnumerable<PizzeriaWebSite.Models.Product>
<br /><br /><br />
<div class="container">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                @using (Html.BeginForm("ProductDetailsView", "Menu", FormMethod.Post))
                {
                    <div class="thumbnail">
                        <img src="~/Images/Products/@item.Image" alt="...">
                        <input type="hidden" name="productID" value="@item.ProductID" />
                        Size:<select name="size" style="margin-left:10px; margin-top:10px; width:280px; height:20px;">
                            @foreach (var size in ViewBag.SizeList)
                            {
                                <option value="@size.SizeID"> @size.SizeDesc  </option>
                            }
                        </select>
                        <div class="caption">
                            @*@if (item.ProductID == 41)
                                {
                                    @Html.ActionLink("Costumize Your Own", "CreateYourOwn", "Menu", new { id = 45 }, new { @class = "btn btn-info col-md-12" })
                                }
                                else
                                {*@
                            <input type="submit" name="submit" value="@item.Name" class="btn btn-info btn-xs col-md-12" /><br />
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>